@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html,
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 32px;
    fill: red;
}

.main {
    position: relative;
    margin: 0;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 2px 2px 2px #424242;
    pointer-events: none;
    padding: 10px;
}

#map path {
    stroke: #fff;
    stroke-width: 1px;
    cursor: pointer;
}